<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <title>Registro/Usuarios</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css}"
    />
    <th:block th:replace="fragments/head :: baseContent"></th:block>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.css}"
    />
    <script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>
  </head>
  <body class="sb-nav-fixed">
    <nav th:replace="@{/fragments/navbar} :: navbar"></nav>
    <div id="layoutSidenav">
      <div th:replace="@{/fragments/menu} :: menu"></div>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h1 class="mt-4">Usuarios</h1>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item">
                <a th:href="@{/}">Home</a>
              </li>
              <li class="breadcrumb-item active">Inversiones</li>
            </ol>
            <div class="card mb-4">
              <div class="card-body row description mb-small-2">
                <span class="align-middle col-md-6 align-self-center"
                  >Revisa la ultima Información</span
                >
                <div class="col-md-6 float-right">
                  <a
                    href="#"
                    class="btn btn-primary btn-icon-split float-lg-end float-md-none"
                  >
                    <span class="icon text-white-50">
                      <i class="fa-sharp fa-solid fa-circle-down"></i>
                    </span>
                    <span class="text">Descargar Reporte</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="card mb-4">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-6 align-self-center mb-small-2">
                    <i class="fas fa-table me-1"></i>
                    Tabla de Datos de Inversiones
                  </div>
                  <div class="col-sm-6">
                    <a
                      data-bs-toggle="modal"
                      data-bs-target="#CreateModal"
                      class="btn btn-success float-lg-end float-md-none"
                      data-toggle="modal"
                      ><i class="fas fa-plus-circle"></i>
                      <span>Agregar Nueva Inversión</span></a
                    >
                  </div>
                </div>
              </div>
              <div class="card-body">
                <table
                  id="MyDataTables"
                  class="table table-bordereddisplay responsive nowrap"
                >
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>INVERSOR</th>
                      <th>FECHA REG</th>
                      <th>GASTO/INV</th>
                      <th>INGRESOS</th>
                      <th>GANANCIAS</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>INVERSOR</th>
                      <th>FECHA REG</th>
                      <th>GASTO/INV</th>
                      <th>INGRESOS</th>
                      <th>GANANCIAS</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr
                      th:each=" inversion: ${inversiones}"
                      th:id="'row-' + ${inversion.idInversion}"
                    >
                      <td th:text="${inversion.idInversion}"></td>
                      <td th:text="${inversion.nameInvestor}"></td>
                      <td th:text="${inversion.dateRecord}"></td>
                      <td>null</td>
                      <td>null</td>
                      <td>null</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div
            class="modal fade"
            id="CreateModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
          >
            <div class="modal-dialog modal-xl shadow-light">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title fs-5" id="exampleModalLabel">
                    Ingresar Inversion
                  </h4>
                  <button
                    type="button"
                    class="btn-close btn-close-white"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <form
                  action="/inversiones/inversion"
                  method="POST"
                  id="crear_inversion"
                >
                  <div class="modal-body">
                    <div id="update_account"></div>
                    <div class="row g-3">
                      <div class="form-floating mb-2 col-md-6">
                        <input
                          class="form-control"
                          id="materialUnit"
                          type="text"
                          name="unidad"
                          required
                          placeholder="Nombre"
                        />
                        <label for="inputFirstName" class="no-top"
                          >Unidad de material</label
                        >
                      </div>
                    </div>
                    <div class="row pt-3">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-12 text-right">
                            <input
                              type="button"
                              id="btnAdd"
                              class="btn btn-primary para"
                              value="Agregar Tela"
                            />
                          </div>
                        </div>
                        <div class="row pt-1">
                          <div class="col-16 table-responsive">
                            <table
                              id="tblData"
                              class="table table-bordered table-hover table-striped"
                            >
                              <thead>
                                <tr>
                                  <th>Tipo</th>
                                  <th>Color</th>
                                  <th>Rendimiento</th>
                                  <th>Cantidad</th>
                                  <th>Costo</th>
                                  <th class="tdaction">Action</th>
                                </tr>
                              </thead>
                              <tbody></tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer bg-light">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cancelar
                    </button>
                    <input
                      type="submit"
                      class="btn btn-success"
                      value="Actualizar"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </main>
        <footer th:replace="@{/fragments/footer} :: footer"></footer>
      </div>
    </div>
    <script
      th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js}"
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/scripts.js}"></script>
    <!-- <script
      th:src="@{https://cdn.jsdelivr.net/npm/simple-datatables@latest}"
      crossorigin="anonymous"
    ></script> -->
    <script
      type="text/javascript"
      th:src="@{https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js}"
    ></script>
    <!-- <script th:src="@{/admin/js/datatables-simple-demo.js}"></script> -->
    <script th:src="@{/js/datatables-demo.js}"></script>
    <script
      th:src="@{/js/request/Investment.js}"
      type="text/javascript"
    ></script>
    <script>
      var emptyRow =
        "<tr><td colspan='6' class='text-center'> No Records Available</td></tr>";
      var emptyNewRow = `
        <tr class='trNewRow'>
            <td class='tdTipo'>
              <input type='text' class='form-control txtTipo' placeholder='Tipo'/>
            </td>
            <td class='tdColor'>
              <input type='text' class='form-control txtColor' placeholder='Color'/>
            </td>
            <td class='tdRendimiento'>
              <input type='text' class='form-control txtRendimiento' placeholder='Rendimiento'/>
            </td>
            <td class='tdCantidad'>
              <input type='text' class='form-control txtCantidad' placeholder='Cantidad'/>
            </td>
            <td class='tdCosto'>
              <input type='text' class='form-control txtCosto' placeholder='Costo'/>
            </td>
            <td class='tdAction'>
              <button type="button" class='btn btn-sm btn-success btn-save'>Save</button>
              <button type="button" class='btn btn-sm btn-success btn-cancel'>Cancel</button>
            </td>
        </tr>`;

      var rowButtons =
        "<button type='button' class='btn btn-success btn-sm btn-edit' > Edit </button>  <button type='button' class='btn btn-danger btn-sm' > Delete </button> ";
      var rowUpdateButtons =
        "<button type='button' class='btn btn-success btn-sm btn-save' > Update </button>  <button type='button' class='btn btn-danger btn-sm btn-save' > Cancel </button> ";

      const $tblDataBody = $("#tblData tbody");
      $(document).ready(function () {
        $("#tblData tbody").append(emptyRow); // adding empty row on page load

        $("#btnAdd").click(function () {
          if ($("#tblData tbody").children().children().length == 1) {
            $("#tblData tbody").html("");
          }
          $("#tblData tbody").append(emptyNewRow); // appending dynamic string to table tbody
        });

        $("#tblData").on("click", ".btn-save", function () {
          const tipo = $(this).parent().parent().find(".txtTipo").val();
          $(this)
            .parent()
            .parent()
            .find(".tdTipo")
            .html("" + tipo + "");
          const color = $(this).parent().parent().find(".txtColor").val();
          $(this)
            .parent()
            .parent()
            .find(".tdColor")
            .html("" + color + "");
          const rendimiento = $(this)
            .parent()
            .parent()
            .find(".txtRendimiento")
            .val();
          $(this)
            .parent()
            .parent()
            .find(".tdRendimiento")
            .html("" + rendimiento + "");
          const cantidad = $(this).parent().parent().find(".txtCantidad").val();
          $(this)
            .parent()
            .parent()
            .find(".tdCantidad")
            .html("" + cantidad + "");
          const costo = $(this).parent().parent().find(".txtCosto").val();
          $(this)
            .parent()
            .parent()
            .find(".tdCosto")
            .html("" + costo + "");
          $(this).parent().parent().find(".tdAction").html(rowButtons);
        });

        $("#tblData").on("click", ".btn-danger", function () {
          // registering function for delete button
          $(this).parent().parent().remove();
          if ($("#tblData tbody").children().children().length == 0) {
            $("#tblData tbody").append(emptyRow);
          }
        });

        $("#tblData").on("click", ".btn-cancel", function () {
          $(this).parent().parent().remove();
        });

        $("#tblData").on("click", ".btn-edit", function () {
          const tipo = $(this).parent().parent().find(".tdTipo").html();

          $(this)
            .parent()
            .parent()
            .find(".tdTipo")
            .html(
              "<input type='text' value='" +
                tipo +
                "' class='form-control txtTipo' placeholder='Tipo'/>"
            );

          const color = $(this).parent().parent().find(".tdColor").html();

          $(this)
            .parent()
            .parent()
            .find(".tdColor")
            .html(
              "<input type='text' value='" +
                color +
                "' class='form-control txtColor' placeholder='Color'/>"
            );

          const rendimiento = $(this)
            .parent()
            .parent()
            .find(".tdRendimiento")
            .html();

          $(this)
            .parent()
            .parent()
            .find(".tdRendimiento")
            .html(
              "<input type='text' value='" +
                rendimiento +
                "' class='form-control txtRendimiento' placeholder='Rendimiento'/>"
            );

          const cantidad = $(this).parent().parent().find(".tdCantidad").html();

          $(this)
            .parent()
            .parent()
            .find(".tdCantidad")
            .html(
              "<input type='text' value='" +
                cantidad +
                "' class='form-control txtCantidad' placeholder='Cantidad'/>"
            );

          const costo = $(this).parent().parent().find(".tdCosto").html();

          $(this)
            .parent()
            .parent()
            .find(".tdCosto")
            .html(
              "<input type='text' value='" +
                costo +
                "' class='form-control txtCosto' placeholder='Costo'/>"
            );
          $(this).parent().parent().find(".tdAction").html(rowUpdateButtons);
        });
      });
    </script>
  </body>
</html>
